[submodule "lib/TRP-Anim-DB"]
	path = lib/TRP-Anim-DB
	url = https://github.com/Ellypse/TRP-Anim-DB.git
[submodule "lib/Ellyb"]
	path = lib/Ellyb
	url = https://github.com/Ellypse/Ellyb
[submodule "lib/CustomTutorials-2.1"]
	path = lib/CustomTutorials-2.1
	url = https://github.com/Jaliborc/CustomTutorials-2.1.git
[submodule "lua-amalg"]
	path = lua-amalg
	url = https://github.com/Ellypse/lua-amalg
[submodule "Src/Libraries/Ellyb"]
	path = Src/Libraries/Ellyb
	url = https://github.com/Ellypse/Ellyb
