[submodule "lib/TRP-Anim-DB"]
	path = lib/TRP-Anim-DB
	url = https://github.com/Ellypse/TRP-Anim-DB.git
[submodule "lib/CustomTutorials-2.1"]
	path = lib/CustomTutorials-2.1
	url = https://github.com/Jaliborc/CustomTutorials-2.1.git
